/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header, main, footer {
    padding: 0;
    text-align: center;
}

/* Navegación */
.navbar {
    width: 90%;
    padding: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.logo {
    width: 160px;
    margin-top: -10px;
    cursor: pointer;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar ul li {
    list-style: none;
    margin: 20px;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    padding: 15px;
}

li a:hover {
    background: white;
    transition: 0.6s;
}

.navbar a:hover {
    color: black;
}

h1 {
    color: white;
    margin-bottom: 20px;
}

h3 {
    color: white;
    text-align: left;
}

p {
    color: white;
}

/* Sección de contacto */
main {
    flex: 1;
    background-size: cover;
    width: 100vw;
}

form {
    width: 80%;
    max-width: 500px;
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
}

form label, form input, form textarea {
    width: 100%;
    margin-bottom: 15px;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


 form button[type="submit"] {  
    background: linear-gradient(90deg, #ff7e5f, #feb47b);  
    color: white;  
    padding: 12px 20px;  
    border: none;  
    border-radius: 30px;  
    cursor: pointer;  
    font-size: 16px;  
    transition: all 0.3s ease;  
}  

form button[type="submit"]:hover {  
    background: linear-gradient(90deg, #feb47b, #ff7e5f);  
    transform: scale(1.05);  
} 
a:hover {  
    transform: scale(1.05);  
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);  
}  
div[name="w"] a {
    background: linear-gradient(90deg, #25D366, #128C7E);  
           color: white;  
           padding: 12px 25px;  
           text-decoration: none;  
           display: inline-block;  
           font-size: 18px;  
           margin: 5px 3px;  
           cursor: pointer;  
           border-radius: 50px;  
           box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
           transition: all 0.3s ease-in-out;
}

/* Footer */
footer {
    color: white;
    padding: 10px;
    text-align: center;
}

.redes-sociales {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.redes-sociales a {
    display: inline-block;
    margin: 0 10px;
    border-radius: 50%;
    padding: 10px;
    transition: background-color 0.3s;
}

.redes-sociales img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.redes-sociales a:hover {
    background-color: white;
}

::-webkit-scrollbar {
    display: none;
}

/* Media queries para responsividad */
@media (min-width: 768px) {
    .navbar {
        flex-direction: row;
    }
    
    .navbar ul {
        flex-direction: row;
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        
    }
    
    .navbar ul {
        flex-direction: column;
    }
    
    .navbar ul li {
        margin: 10px 0;
    }
    
    form {
        width: 90%;
        padding: 20px;
    }

    h3 {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 10px;
    }

    .logo {
        width: 120px;
    }

    .navbar ul li {
        margin: 5px 0;
    }

    form {
        width: 95%;
        padding: 15px;
    }

    h1 {
        font-size: 8vw;
    }

    h3 {
        font-size: 1.2em;
    }
}
