<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='img/icons8-favourite-website-48.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='empezar.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Descubre la Magia</title>
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}">
            <ul>
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="{{ url_for('nosotros') }}">Nosotros</a></li>
                <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
            </ul>
        </div>
    
        <div class="body">
            <!-- Banner Principal -->
            <div class="heading">
                <h1>{{ banner_title }}</h1>
            </div>
            <div class="tours">
                <!-- Paquete 1 -->
                <div class="places">
                    <h2>{{ package1_title }}</h2>
                    <h3>Desde {{ package1_precio }} USD</h3>
                    <img class="foto" src="{{ url_for('static', filename='img/paris.jpg') }}" alt="{{ package1_title }}">
                    <br><br>
                    <a class="res" href="{{ package1_link }}">{{ package1_msjb }}</a>
                </div>
                <!-- Paquete 2 -->
                <div class="places">
                    <h2>{{ package2_title }}</h2>
                    <h3>Desde {{ package2_precio }} USD</h3>
                    <img class="foto" src="{{ url_for('static', filename='img/orlando.jpg') }}" alt="{{ package2_title }}">
                    <br><br>
                    <a class="res" href="{{ package2_link }}">{{ package2_msjb }}</a>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="redes-sociales">
                <a href="{{ facebook_link }}" target="_blank" class="icono-facebook">
                    <img src="{{ url_for('static', filename='img/facebook_4494479.png') }}" alt="Facebook">
                </a>
                <a href="{{ twitter_link }}" target="_blank" class="icono-twitter">
                    <img src="{{ url_for('static', filename='img/twitter_2504839.png') }}" alt="Twitter">
                </a>
                <a href="{{ instagram_link }}" target="_blank" class="icono-instagram">
                    <img src="{{ url_for('static', filename='img/instagram_4494488.png') }}" alt="Instagram">
                </a>
            </div>
            <p>{{ footer_text }}</p>
        </footer>
    </div>
</body>
</html>


